# <%= form_for(@recipe) do |r| %>
# 	<%= r.text_field :title %>
# 	<%= r.text_field :video_url %>
# 	<%= r.text_field :thumbnail_url %>
# 	<%= r.text_field :servings %>
# 	<%= r.text_field :salt %>
# 	<%= r.text_field :calorie %>
# 	<%= r.text_field :introduction %>
# 	<%= r.text_field :boosted %>
# 	<%= form_for(@ingredients) do |ing| %>
# 		<%= r.text_field :sort_order %>
# 		<%= r.text_field :name %>
# 		<%= r.text_field :quantity_and_unit %>
# 	<%= r.submit "作成" =>
# <% end %>
<p>aaaaaaaaaaaaaaa</p>